[2017-01-10 00:17] DannyFeliz opened #2 "Support decimals points"
Hi @kevinongko I really love this component but as you can image if you are working with a field of price  probably you will need to support decimals points and make it configurable (the number of decimals allowed) because at this moment with component only works with integers.

I would like something like this:
[code]

My issue right now is that I want to type `11.99` but I get `1,199`

Cheers

[2017-01-10 10:06] kevinongko commented on #2
Thank you for the suggestion, I just updated the components to support decimals 9ea649b4b0c7e369be3bf36041b0e49f6685377c

[code]

[2017-01-10 10:06] #2 closed

[2017-01-31 02:03] gustavobissolli opened #3 "Is it working?"

[2017-01-31 03:01] kevinongko commented on #3
Hello @gustavobissolli , can you give me more information what doesn't work? thank you

[2017-01-31 13:33] gustavobissolli commented on #3
Sure kevin!! I am going to check better!

I was really tired after a lot of time working directly hahahaha...

If I still have problem I'll tell you!

[2017-01-31 22:09] kevinongko commented on #3
I'll close this issue this issue for now, feel free to open new issue if you found any problem :)

[2017-01-31 22:09] #3 closed

[2017-03-31 00:52] fscardua opened #4 "Change decimal sepator on enter"
The component change the decimal separator on enter.

**To test:**
`<vue-numeric v-bind:precision="2" separator="." v-model="price" placeholder="My price" ></vue-numeric>`

1 - Click on input and put the value 123,43
2 - Take the focus out the component. The masked value is correct.
3 - Click on input and confirm the value 123.43. On enter the decimal separator was changed to "."

[2017-03-31 03:12] kevinongko commented on #4
Hi @fscardua , I can't reproduce step 3 because when I press `enter` nothing happen.
But I did found when on focus the decimal become `.` instead of `,`.
I've fix this problem in v1.4.2, hopefully this fix your problem.
Thanks

[2017-03-31 13:20] fscardua commented on #4
@kevinongko take a look at this JQuery Plugin
[https://github.com/plentz/jquery-maskmoney](https://github.com/plentz/jquery-maskmoney)

It would be amazing if your component worked like this plugin. It's just a suggestion .

[2017-03-31 14:06] kevinongko commented on #4
Hi @fscardua,

- Default value from v-model should work now in v1.5.0.
- I don't quite understand about masking problem with decimal comma separator. It works correctly when I tried in [live demo](https://kevinongko.github.io/vue-numeric/), can you give me a demo or more detailed step to reproduce?
- about the jQuery plugin, IMO masking on blur is less distracting than on input.
- if there are any

[2017-04-03 02:56] #4 closed

[2017-04-10 14:41] Esslamb opened #5 "Model not updated when rendered initially"
On component render, I'm loading optionData from my database which holds the price in a string format. On Initial load the price just doesn't get set, I have to manually click into the field to re-render it for it to pick up the change.
SCRIPT
`  data() {
    return {
      name: '',
      price: ''
    }
  },`
  `props: [
    'optIndex',
    'optionData'
  ],`
  `created() {
    this.name = this.

[2017-04-11 01:33] kevinongko commented on #5
Hi @Esslamb,

does it also happen if the price value from `optionData` is in `Number` format?

[2017-04-11 07:56] Esslamb commented on #5
Hey @kevinongko,

I did attempt to use an integer value yesterday but that wasn't working for me either it was almost like the DOM wasn't rendering when the value changed but I could see the value with Vue inspector. I downloaded the latest version and that works great thanks for the quick update!!

[2017-04-11 07:57] #5 closed

[2017-04-16 06:33] xakzona opened #6 "Name attribute"
Hello, How I can add name attribute to vue-numeric field?

[2017-04-16 10:41] kevinongko commented on #6
Hi @xakzona,

simply add `name` attribute to the component tag such as
[code]

[2017-04-18 03:36] #6 closed

[2017-04-26 21:08] DojoGeekRA opened #7 "Use development mode in demo"
I was browsing your demo page but when i tried to go further with the `vue development tools` i found that it is using production mode or is disabled intentionally:

![captura de pantalla 2017-04-26 a la s 16 02 35](https://cloud.githubusercontent.com/assets/5356595/25456993/4c84bd96-2a9a-11e7-9af5-dce08a3ca476.png)

It will be very helpful for future users if you can use development mode or enabl

[2017-04-27 06:21] kevinongko commented on #7
Hi @DojoGeekRA ,

[Live demo](https://kevinongko.github.io/vue-numeric/)'s devtool is enabled, enjoy :)

[2017-04-27 06:21] #7 closed

[2017-04-27 07:49] DojoGeekRA commented on #7
![captura de pantalla 2017-04-27 a la s 02 48 54](https://cloud.githubusercontent.com/assets/5356595/25473188/18849bf6-2af4-11e7-8ec2-06d1b0cda54a.png)

Amazing @kevinongko, thanks 🤘

[2017-05-19 01:18] emilioeduardob opened #8 "Value not updating when changing amount from another input"
Hi!

If I have two inputs using the same property, the one with `vue-numeric` is not updated.
For example

[code]
The value entered in the regular `input` tag  is only updated in the html but not on the vue-numeric. Checking with dev tools, I see that `amount` is 0 and `value` is changing inside the `VueNumeric` component

Any Ideas?

[2017-05-19 04:47] kevinongko commented on #8
Hi @emilioeduardob,

I fixed the component issue not reflecting change from other input element with same `v-model` in v1.5.2.

However beware input value from other source could result in `String` type
remember to use `v-model.number` modifier in your other source.

[2017-05-19 13:02] emilioeduardob commented on #8
Hey @kevinongko, I also tried using `v-model.number` but the value only shows if I click on the `vue-numeric` component. I managed to make it work in my local project adding to the project's copy of vue-numeric:

[code]

[2017-05-19 13:30] eduarguzher commented on #8
i think there is no need to `mounted()` method and all that behavior should be done in the `watch()`

something like that
[code]
I wold like to discuss that after using the component

[2017-05-19 13:41] kevinongko commented on #8
Hi @emilioeduardob ,

using `v-model.number` is only to make sure your v-model value is `Number` type, because changing the v-model value from source other than vue-numeric could result in `String`.

IMO the value should not be formatted to currency when editing the element, doing so could result in weird behavior when inputting decimals.

[2017-05-19 13:49] emilioeduardob commented on #8
Agree @kevinongko. Editing the element should be without format.
But how can the component listen to changes done from other sources. May be tracking the focus state to know if the value should be updated with format or not 🤔

[2017-05-19 14:03] kevinongko commented on #8
Hi @eduarguzher,

I tried your solution, however there are weird behaviors when inputting `,` as decimals both from normal element and the component.

----

@emilioeduardob I also had a hard time figuring how to track other element other than the component itself, the best I can do for now is to show the changes even though it's not formatted.

any PR is welcome :D

[2017-05-19 14:35] emilioeduardob commented on #8
thanks for the update @kevinongko , I'll give it a shot and see if I can send a PR

[2017-05-20 02:11] #8 closed

[2017-06-05 07:59] sandervanhooft opened #11 "Demo input clipped"
On the [demo page](https://kevinongko.github.io/vue-numeric/), the field gets clipped vertically.
![img_2080](https://cloud.githubusercontent.com/assets/7265703/26775493/82e20dd0-49d5-11e7-8faf-94eee28672ec.PNG)

The screenshot is from Safari, iPhone 5S, latest iOS. I'm experiencing the same on Safari on my iPad Air. Zoom is 100% (normal).

[2017-06-05 08:50] kevinongko commented on #11
Hi @sandervanhooft ,

Thanks for the info, should be fixed now.

[2017-06-05 08:50] #11 closed

[2017-06-05 09:53] sandervanhooft commented on #11
Correct, thanks! :)

[2017-06-13 11:29] theREALdebater opened #12 "Suggestion: Read-Only"
Just a suggestion: Add a 'read-only' property, which defaults to 'false'. If this is set to 'true' then the component generates a span (rather than an input) element, which is merely used to format currency values for display to the user.

[2017-06-14 05:29] kevinongko commented on #12
Hi @theREALdebater ,

Thanks for the suggestion, you can try out the read-only mode in v1.5.4

[2017-06-14 05:29] #12 closed

[2017-06-18 12:46] knagyorg opened #15 "Currency symbol position"
Hi, I've made a changes for currency symbol position (some currencies are on the left side, some on the right side). May I do a "Pull request" for your approval?
Karel

[2017-06-18 16:46] kevinongko commented on #15
Hi @knagyorg ,

That's cool, go ahead 👍

[2017-06-18 17:06] knagyorg commented on #15
Permission to kevinongko/vue-numeric.git denied to knagyorg
Can you grant me access to push?

[2017-06-18 23:40] kevinongko commented on #15
submit the PR, i will review and merge it later

[2017-06-20 01:01] kevinongko commented on #15
Merged #16, thanks

[2017-06-20 01:01] #15 closed

[2017-07-28 17:24] FernandoF001E opened #18 "Erro compile"
Hi @kevinongko!

I am using vue-numeric but when compiled it has this error:

Module build failed: Error: Couldn't find preset "es2015" relative to directory

[2017-07-28 18:47] kevinongko commented on #18
try `npm install --save-dev babel-preset-es2015`

[2017-07-28 21:48] markus-s24 opened #19 "No compiled js in node package v1.5.5"
I installed v1.5.5 of vue-numeric and I am not able to import it (with typescript). The npm archive seems to have no compiled version of vue-numeric.vue in it. It seems to be a pure source archive.

[2017-07-29 02:18] kevinongko commented on #19
Hi @markus-s24,

I released compiled version in v1.6.0

[2017-07-30 01:31] #18 closed

[2017-07-30 04:11] #19 closed

[2017-08-12 10:11] AlexanderKoehn opened #20 "Inappropriate keyboard layout on iOS iPhone"
OT: Thanks for this great vue component!

When using vue-numeric as currency input on iOS iPhone, the keyboard offered by iOS is suited for the 'tel' html input type, which is just numbers. Comma/Dot for currency input is missing. Android does have it. Since there is no other proper input type than 'text' to get a suitable keyboard, I'd propose to offer an enum for the input type (tel as default o

[2017-08-18 11:50] ankurk91 opened #21 "Expose formatToNumber method for external use"
Hi,
Thanks for the great plugin.

Some time we need to show amount on view like
[code]
How difficult it is to expose your `formatToNumber` method so that we can import it like :
[code]
Possibly extract that to a new js file, so that this component can still use it.

This way user no need to install another library to format amounts.
Thanks.

[2017-08-19 02:45] kevinongko commented on #21
Hi @ankurk91,

you could use the `read-only` props to show formatted value without the input field

[2017-08-19 03:03] kevinongko commented on #20
Hi @AlexanderKoehn,

I'm currently doesn't have iOS device to try this, I'll keep this issue open and look into it in the future.

For those who want to use input type `text`, just pass the props
[code]
and the component will render the input with `text` type.

[2017-08-19 03:23] ankurk91 commented on #21
Oh, cool
I didn't notice that.
Thanks again.

[2017-08-19 03:23] #21 closed

[2017-08-31 22:24] darrylhein opened #22 "Add ability to customize formatting string"
I'm trying to show the input without a currency symbol in it, which works, but a space is always added in front of the number, as far as I can tell, because of the `formatString` computed property.

My 2 ideas are:

1. Change the `formatString` to a prop and add a default value (a function) – possibly the most flexible in the long run.
2. Check if there's a currency and if not, only include the `%

[2017-09-01 03:05] kevinongko commented on #22
Hi @darrylhein,

Thanks for the suggestion, I implemented idea no 2 in v1.6.2
IMO I didn't found (yet) other use cases for the first idea by adding new `props`, CMIIW

[2017-09-01 03:05] #22 closed

[2017-09-02 10:58] yanghao1351 opened #25 "IE11 strict模式下不允许一个属性有多个定义"
<vue-numeric name= "specObj.unitPrice" type="text" currency="¥" separator="," v-model="specObj.unitPrice"  v-bind:precision="2" min="0" v-bind:max="99999999" class="form-control addCommodity_shopper"></vue-numeric>

IE11 strict模式下不允许一个属性有多个定义

[2017-09-02 12:06] kevinongko commented on #25
Hi @yanghao1351 ,

I don't understand Mandarin 😢

[2017-09-02 12:36] ankurk91 opened #26 "[Feature request] Clear input on focus when value is zero"
Hi,

When current value is zero `0.00` and user focus on input, user has to remove this value by pressing backspace 4 times and then he can start typing new values.
It would be good if component can clear the input field automatically when value is zero.

I made a simple directive to achieve this.
[code]
[code]

**Current behavior**
![vue-numeric-issue](https://user-images.githubusercontent.com/61

[2017-09-03 06:19] kevinongko commented on #26
Thanks, this behavior is fixed in v2.0.0

[2017-09-03 06:19] #26 closed

[2017-09-03 06:54] ankurk91 opened #27 "[2.0.0] No longer working"
Hi,
just updated to v2.0.0 found issue.

Component does not accept new valid values on blur event.
https://jsfiddle.net/acvr9byw/

**Steps to reproduce**
* Setup  a component with `null` value
`<vue-numeric currency="$" precision="2" v-model="price"></vue-numeric>`
* Type in input some value eg - `5566`
* Click outside of input
* Input value remains 0.00
![vue-numeric-v2](https://user-images.githu

[2017-09-03 07:19] kevinongko commented on #27
Sorry, fixed in 2.0.1

Thanks for the report @ankurk91

[2017-09-03 07:19] #27 closed

[2017-09-03 12:28] ankurk91 opened #28 "[gh-pages] Update docs folder to reflect on gh-pages"
Hi,

Can you also update **docs** folder so that we can get latest version on
https://kevinongko.github.io/vue-numeric/

Thanks.

[2017-09-04 07:42] kevinongko commented on #28
updated

[2017-09-04 07:42] #28 closed

[2017-09-12 14:38] cuautorres opened #30 "version 2.1.1 problem prop read-only="true""
when the read-only property is set to true, the value of the v-model is not displayed

[2017-09-12 16:36] kevinongko commented on #30
Hi @cuautorres, could you show me your code in [jsbin](http://jsbin.com/)?

[2017-09-17 10:49] kevinongko commented on #30
I'm closing this because inactivity, the read-only props is working correctly in the demo. Feel free to reopen this issue and provide sample code before I can check what's wrong.

This is just a guess, make sure to use `v-bind` so your true value is boolean and not string.

[2017-09-17 10:49] #30 closed

[2017-09-18 14:53] mazipan commented on #20
Try using this snippet
[code]
@kevinongko

You can refer to : https://github.com/mazipan/vue-currency-filter/blob/master/App.vue

[2017-09-18 14:56] mazipan commented on #20
Oh, I miss understood with the issue.
Just forget my last comment 😂

[2017-09-21 01:56] menezesbr commented on #27
Good evening. Now in version 2.1.2 the problem of zeroing has returned

[2017-09-21 11:18] kevinongko commented on #27
Hi @menezesbr,
Could you give more details steps how to reproduce the problem? Thanks

[2017-09-21 22:16] PatrickOgilvie commented on #20
This issue is reproducible on certain android devices too (Samsung galaxy 7). However using `type="number"` works fine to fix this issue on phones! Is there a specific reason for the default being 'tel' rather than 'number'?

[2017-09-23 11:37] ankurk91 opened #32 "Reduce build size"
Hi,
I was trying to reduce my webpack bundle size.
I found that you are also packing **accounting-js** in your "dist".
You can exclude this be tweaking your webpack config.
[code]
Don't worry; your `dist` file will still has a reference to `accounting-js` and will be included by developer webpack.

### Benefits
* This will reduce this package size to ~ 4kb
* Better debugging because `dist` does no

[2017-09-23 12:00] ankurk91 commented on #32
Here is the optimized `dist` - (4kb when minified)
[code]
**package.json**
[code]
**webpack.config.js**

[code]

[2017-09-24 23:00] kevinongko commented on #32
Thanks, didn't know the `istanbul` plugin can cause bigger build size, fixed in 2.2.0

[2017-09-24 23:00] #32 closed

[2017-09-25 12:23] pnzz7 commented on #25
I think he ment that the plugin is not working with IE11.
I had the same issue. I'll send you the accurate error message later

[2017-09-25 19:16] ra-dharma commented on #25
Hi kevinongko,

Thanks for an excellent plugin.

I've implemented this in a variety of forms in my application. It works perfect in Chrome/Firefox browsers. But getting the following error in IE11. Can you please help with ?

SCRIPT1046: Multiple definitions of a property not allowed in strict mode
File: vue-numeric, Line: 1, Column: 4665

in this line - domProps:{value:e.value,value:e.amount}

Th

[2017-09-30 12:18] Datta-Telukunta opened #34 "Vue-numeric on change event not working!"
checkdata function is not getting triggered when I change the value, please suggest?

<vue-numeric class="form-control"
                         v-clear-zero
                         currency="$"
                         :precision="2"
                         :min="0"
                         v-on:change = "checkdata()"
                         :name="`current-balance`"
                         v

[2017-10-01 10:26] kevinongko commented on #34
Hi @Datta-Telukunta,

I just checked the demo and it's working fine.
Can you give more specific steps to reproduce? preferably in jsbin.com, Thanks

[2017-10-02 06:38] Datta-Telukunta commented on #34
`<vue-numeric class="form-control"
                         v-clear-zero
                         currency="$"
                         :precision="2"
                         :min="0"
                         v-on:change = "checkdata()"
                         :name="`current-balance`"
                         v-model.number="currentBalance"

[2017-10-02 08:07] kevinongko commented on #34
- what does this `checkdata()` function do?

[2017-10-02 09:21] Datta-Telukunta commented on #34
Thanks @kevinongko
It is working now. In  `checkdata()` function I am changing some model values. `v-clear-zero` custom directive.

[2017-10-02 09:21] #34 closed

[2017-10-09 16:08] te1 opened #35 "Inconsistent separator handling"
Handling of decimal separator doesn't quite work if you want to use a comma instead of a dot.

Steps to reproduce
- Go to https://kevinongko.github.io/vue-numeric
- Select "use '.' as separator" (this is the thousand separator)
- Enter Value "1,2" (with a comma) and leave (blur) input
- Focus input, it now says "1.2" (with a dot) but should be "1,2" (with a comma)
- Add 3 to the input and leave (b

[2017-10-09 17:03] te1 commented on #25
The problem seems to be the `:value="value"` binding. If remove this the generated render function contains `domProps: { value: _vm.amount }` as expected and it works in IE. I have not found any negative side effects.

From https://vuejs.org/v2/guide/forms.html#Basic-Usage:

It seems that the binding is not needed and instead you should do `this.amount = this.value` which happens in `mounted` anyw

[2017-10-10 02:57] kevinongko commented on #25
Thanks for the suggestion and error messages guys, the plugin should work now in v2.2.2

[2017-10-10 02:57] #25 closed

[2017-10-10 09:56] te1 commented on #35
It may not be the most elegant solution but this works for me without negative side effects so far:

[code]

[2017-10-12 20:22] wagnereliakim commented on #35
@te1 I found the same problem.
Your las solution works fine, but I  think that we can simplify by calling the existing function for this.

[code]

[2017-10-12 21:02] wagnereliakim opened #36 "@blur and @focus events propagation"
I'm using vuelidate to validate my input fields.
When I call the validation, it doens't works:
[code]

If I change it for:
[code]
The function isn't called.

[2017-10-12 21:25] wagnereliakim commented on #36
Maybe a solution in PR #37

[2017-10-13 03:06] kevinongko commented on #36
PR #37 merged

[2017-10-13 03:06] #36 closed

[2017-10-13 06:44] kevinongko commented on #35
Should be fixed in 2.2.3

[2017-10-13 06:44] #35 closed

[2017-10-19 04:03] Diathedia opened #39 "Vue-numeric DOM doesn't update?"
Excuse me, thank you for the plugin.

I made a dynamic number entry and saved it into the database. However when I loaded the value from database and pushed the array to render in the dom (using v-for), the vue-numeric doesn't update (needs to be clicked first to update)

## Expected Behavior
When model is programatically updated, updates dom and formats it

## Actual Behavior
Shows placeholder in

[2017-10-20 08:46] tjrchampion opened #40 "Allowing spaces in seperator"
## Expected Behavior
Some currencies do not use a seperator, rather a space, but this plugin enforces either a , or .
Is there any chance you might support this, or can I contibute to your plugin and make the required amend?

## Actual Behavior
forces use of , or .

## Steps to Reproduce the Problem

  1. trying to put a space for the seperator. Simply seperator=" "

## Specifications

  - Plugin

[2017-10-20 10:10] kevinongko commented on #39
Hello @Diathedia,

I tried [this](http://jsbin.com/nozorek/3/edit?html,js,output) approach and it's working.
Could you share your code to reproduce the problem? preferably in jsbin.com

[2017-10-23 03:24] Diathedia commented on #39
Sorry for the late reply. Apparently it happens when it's hidden from the dom.
[Here is the code](http://jsbin.com/bequxokoca/edit?html,js,output). Thanks before!

[2017-10-23 05:21] kevinongko commented on #39
Oh, that's probably because of how the `placeholder` props works, it will prioritise the placeholder even if there's a value.

[2017-10-23 08:59] kevinongko commented on #40
Added in v2.2.4
[code]

[2017-10-23 08:59] #40 closed

[2017-10-24 02:33] Diathedia commented on #39
Hmm, [normal input](http://jsbin.com/baqaqacipu/edit?html,js,output) don't behave like that, though. I wonder if there's a way to fix this?

[2017-10-24 02:39] kevinongko commented on #39
it doesn't need to be fixed because it's intended to work like that, please open new issue if you have suggestion to change how placeholder props works.

[2017-10-24 02:39] #39 closed

[2017-10-25 08:56] mikestreety opened #41 "Computed value doesn't update field or read-only"
Hello!

Thanks for a great plugin. It seems when using a computed value to populate the field, the `amountNumber` variable doesn't get updated. When inspecting the element, I can see the `valueNumber` and `value` get updated correctly. Anything I can do to help - just say!

## Steps to Reproduce the Problem

1. Go to [this codepen](https://codepen.io/mikestreety/pen/aLgMPM)
2. Note how 83.33 is th

[2017-10-25 13:31] kevinongko commented on #41
Hi @mikestreety,

Thanks for the report, should be fixed in v2.2.5

[2017-10-25 13:31] #41 closed

[2017-10-25 13:36] mikestreety commented on #41
Absolute legend - thanks @kevinongko!

[2017-10-26 05:56] ankurk91 opened #42 "[2.2.3] Clear if value is zero feature is broken"
Hi,

## Expected Behavior
If v-model value is `0.00` then input field should clear on focus

## Actual Behavior
Input remains same

## Steps to Reproduce the Problem
http://jsfiddle.net/cvg6c4r3/6/

I have also tried adding a directive but no luck
[code]
[code]

## Specifications

  - Plugin Version: 2.2.3+
  - Vue.js Version: 2.5.2/2.4.4
  - Browser: chrome 62 beta
  - OS: macOs sierra

Ref https

[2017-10-26 08:13] kevinongko commented on #42
Hi @ankurk91,

Sorry for the returning issue. Should be fixed in v2.2.6

[2017-10-26 08:13] #42 closed

[2017-10-30 12:37] mikestreety opened #43 "Update method doesn't trigger in IE11"
Hey,

I'll come back and properly fill out this issue this afternoon, but thought I would just put it here before I forget.

The `this.update` method doesn't seem to ever get fired in **IE11** or below. However the `this.process` one does.

I have temporarily updated the `this.process` method to the following (i expanded the if statements while I was debugging) and remove the `update` method

[cod

[2017-11-03 08:28] kevinongko commented on #43
Hi @mikestreety,

I tried the live demo with IE11, and it's works correctly, could you give steps to reproduce?
Thanks

[2017-11-03 09:20] mikestreety commented on #43
This pen, in IE11, doesn't work for me:

https://codepen.io/mikestreety/pen/aLgMPM

Video: http://recordit.co/0sJs5eLcJj

[2017-11-03 09:21] mikestreety commented on #43
But the live demo does work 🤔

[2017-11-15 15:03] tjrchampion commented on #43
Any follow up on this? Experiencing the exact same problem in IE 11.

[2017-11-16 16:49] DesertSnow opened #45 "Value is not being updated when the precision changes"
## Expected Behavior

The issue consists of 2 parts
* Changing precision does not update the numeric input immediately (only after a focus).
* The actual value is not updated at all (not even after focus)

## Actual Behavior

The actual input value is only updated when regaining focus

## Steps to Reproduce the Problem

  1. Initialize a numeric input with precision '2' and value '1.25'
  2. Updat

[2017-11-17 02:44] #45 closed

[2017-11-17 04:08] kevinongko commented on #43
Fixed in 2.2.7

[2017-11-17 04:08] #43 closed

[2017-11-24 21:56] tochoromero opened #47 "Allow to configure the value set when the input is cleared out"
Right now if you clear the input the value is set to `0` and there is no way to change that. There should be a way to configure what value will be set when the input is cleared out.

[2017-11-27 04:14] #47 closed

[2017-11-27 04:14] kevinongko commented on #47
Merged, Thanks 👍

[2017-12-17 16:11] groenroos opened #50 "Support hundreds separators"
Is there a way to format the number for the [Indian numbering system](https://en.wikipedia.org/wiki/Indian_numbering_system); i.e. "1,00,000" instead of "100,000", or "1,00,00,000" instead of "10,000,000"? It's the only format that makes sense when dealing with values in Indian rupees (and a few other currencies).

[2018-01-06 12:24] jericopulvera opened #51 "How to prevent non numeric keys with exception of . to be inputted?"
Input should not accept letters at all.

[2018-01-09 00:52] kevinongko commented on #51
Hi @jericopulvera,
IMO the plugin shouldn't change anything when the user inputting value in the element. The changes should only happen when the user blur out of the element
Currently when you input letter the value of the letter won't be registered and cleared after blur out of the element

[2018-01-09 00:52] #51 closed

[2018-01-15 14:55] rathesDot opened #53 "Is `null` as a value possible?"
Hey,

is it possible to add `null` as a value?

For a more detailed explanation, this is my scenario:

I have a form which is populated by API data and the user should add/change data and then submit it. There we have a `<vue-numeric>` input as well. When the user edits the field, everything works as expected.

But I have the situation that sometimes the input isn't populated at all and the user d

[2018-01-22 08:48] rdy2018 opened #54 "Not Selecting On Tab to Numeric Field"
Normally, when you use tab to go to the next field, it will select all the text inside the field. But if the numeric field needs to unformat the value, it would not select the text.

## Expected Behavior
![image](https://user-images.githubusercontent.com/35684050/35211981-8f39eb56-ff93-11e7-8af9-2d5c7aec90a3.png)
As seen in the screenshot, it will select all the text inside the field.

## Actual B

[2018-01-24 13:26] BlitZz96 opened #55 "Required attribute is not stopping form submission"
## Expected Behavior
Form submission stops and you get notified what input field is faulty.

## Actual Behavior
Form goes trough without validating

## Steps to Reproduce the Problem

  1. Create a form tag with a submit function. `<form @submit.prevent = "doSomething()">`
  2. Create a new fresh component, add v.model and add attribute "required" to the <vue-numeric> tag
  3. Add submit button to

[2018-01-26 01:14] kevinongko commented on #50
Currently vue-numeric still dependent on `accounting-js` library which doesn't support hundreds separators. I'll look into this feature after refactoring the plugin to drop external lib.

[2018-01-26 08:16] groenroos commented on #50
Dropping the dependency sounds like a great solution!

Temporarily, I was able to patch this is by extending the component like so (knowingly downgrading some capabilities I don't need). Turns out, hundred separators can be handled natively in JavaScript!

	import VueNumeric from 'vue-numeric'

	export default {
		extends: VueNumeric,
		name: 'vue-numeric-hundreds',

		methods: {
			format (value)

[2018-01-28 07:32] mdipierro opened #56 "vue-numeric + vee-validate"
<vue-numeric v-model="test" v-validate="'required'"></vue-numeric> causes a vee-validate  "undefined" error. I understand this is not a vue-numeric bug but would be great if it could support the v-validate attribute of vee-validate.js. Maybe I am using the wrong notation and there is a way to make vee-validate work with vue-numeric, but I could not find it anywhere. I believe it simply needs to pr

[2018-01-28 18:10] sumityadav opened #57 "Unable to empty the input"
I am using the min prop.

On page load, the form is empty and the vue-numeric shows the input as empty (which is correct) but after the user key in any number, we do not have the option to empty the input again.

Here's the input:

[code]

## Specifications

  - Plugin Version: 2.3.0
  - Vue.js Version: 2.5.13
  - Browser: Chrome Version 63.0.3239.132 (Official Build) (64-bit)
  - OS: MacOS 10.12.

[2018-01-29 17:39] te1 commented on #20
See also discussion here: https://stackoverflow.com/questions/25425181/iphone-ios-presenting-html-5-keyboard-for-postal-codes

In short: It's not possible right now. It may be in the future with the `inputmode` attribute but that isn't supported by any browser yet: https://caniuse.com/#feat=input-inputmode

For now you have to use `type="text"` which gives you the default keyboard, as suggested ab

[2018-02-01 06:01] yusupprog opened #58 "Define default props"
Hi. How can I define default props to use in all components without passing them to component?

[2018-02-08 21:50] BlitZz96 opened #59 "min/max decimals"
I have some thoughts about the `:precision="x"` prop.
There is a usecase where you have a number of  `1`, if you have `:precision="4"`, this will look like this `1,0000`.  It is really useless to display all the zeroes in my opinion. I assume there is people and usecases that would like the extra zeroes to be there. However, I would love for it to be an option(prop) to enable/disable showing of ze

[2018-02-11 21:28] roncemer opened #60 "No Bower component?"
## Expected Behavior
bower install vue-numeric

## Actual Behavior
bower ENOTFOUND     Package vue-numeric not found

## Steps to Reproduce the Problem

  1. Try to install with Bower
  2. Bower says vue-numeric is not found

[2018-02-20 10:30] ReuDa commented on #53
I think this is related to https://github.com/kevinongko/vue-numeric/issues/57

[2018-02-20 10:44] rathesDot commented on #53
Yes, there something like an empty-state is missing ... And with it to get back to that empty-state as well.

[2018-03-01 08:38] KirkOlson opened #61 "readonly"
When I use a :readonly ="true" prop on the component I get a Vue tip:

"Prop "readonly" is passed to component <Anonymous>, but the declared prop name is "readOnly". Note that HTML attributes are case-insensitive and camelCased props need to use their kebab-case equivalents when using in-DOM templates. You should probably use "read-only" instead of "readOnly"."

If I change the props name to "read

[2018-03-14 09:32] julienmonty commented on #53
Same issue here. Any update ?

[2018-03-21 03:11] kevinongko commented on #56
Hi @mdipierro,

Thanks for the report, however I didn't use `vee-validate`
I'll look into it when I have time, hopefully someone can look into this issue.

[2018-03-21 03:16] kevinongko commented on #58
Hi @yusupprog, Some props are already set with default value, if you want to change the default value the only way is to pass them to the component as in Vue.js [guide](https://vuejs.org/v2/guide/components.html#Props).

[2018-03-21 03:16] #58 closed

[2018-03-21 03:20] kevinongko commented on #61
Hi @KirkOlson,

as in the [readme](https://github.com/kevinongko/vue-numeric#props), the props is `read-only` not `readonly` or `readOnly` and the props function is to hide the input field and show the text only, if you want to use styling please use `read-only-class` to apply custom class.

[2018-03-21 03:20] #61 closed

[2018-04-06 03:43] henrywirawan commented on #55
Also face the same issue here

[2018-04-14 15:07] AlexanderYW opened #64 "Wrong behavior when formating string values"
## Expected Behavior
If you input a **String** with "20000.00" as value the output value will be 20.000,00

## Actual Behavior
Right now when you input a **String** with "20000.00" as value the output value will be 2.000.000,00

## Steps to Reproduce the Problem
https://codepen.io/anon/pen/vRqyay

## Specifications

  - Plugin Version: v2.3.0
  - Vue.js Version: v2.5.16
  - Browser: Chrome, Edge

[2018-04-18 07:27] jeroenschieven opened #65 "Placeholder shown instead of value"
## Expected Behavior
Given you have the following vue-numeric component:
[code]

If value is set, I would expect to see the value. Just as described in the documents:

## Actual Behavior
When component is mounted, the value is not shown until you click on the input field. The placeholder is shown instead.

## Steps to Reproduce the Problem

See example in codesandbox: https://codesandbox.io/s/v821

[2018-04-25 07:56] jamiguel opened #66 "Error when you define 8 o more decimals"
## Expected Behavior
Value:  1000.00000000
Result: 1000.00000000

## Actual Behavior
Value:  1000.00000000
Result: 1000.00000001

You can try in the Live demo.

## Specifications

  - Plugin Version: v2.3.0
  - Vue.js Version: v2.5.3
  - Browser: any
  - OS: Windows 10

Thanks!

[2018-05-02 08:44] gergo2007 commented on #55
any updates on this?

[2018-05-04 19:32] carmas123 opened #67 "Options to dynamic decimals"
There is an option to have a maximun decimals and show only when the value is not 0?
Example: 0.43400 -> 0.434

[2018-05-05 03:46] lulessa commented on #64
+1 to this issue. It happens in the `valueNumber` computed property in `mounted` via `process` method
https://github.com/kevinongko/vue-numeric/blob/f639863c431eaae34c39cf5792e7381603556f0c/src/vue-numeric.vue#L184-L185

When `unformat` receives "12345.00", it tells `accounting` to convert string to number assuming the decimal separator is `,`, but it isn't.
https://github.com/kevinongko/vue-numer

[2018-05-07 02:12] mgasparel opened #68 "New input displays formatted value if focused too quickly"
If you set the focus on a new vue-numeric input immediately after creating it, the input does not stay cleared, and will display the formatted value after a brief moment, as if it has lost focus.

I can see that in the `mounted()` event, we're updating the value, then updating it again 500ms later. I don't want to attempt to fix this without understanding what the purpose of this delay is:
[code]

[2018-05-11 11:26] goors opened #69 "Prevent default on wrong input instead waiting for onBlur?"
Can you replace blur function with some preventDefault function?
For example, you start typing ",,,,," and then you do blur and value is rest.

If you use wizard for example and have next/prev buttons user will not be able to see that blur function is executed on next step and he will thing that he entered ",,,,," for some value that can n ot be that.

[2018-05-11 11:29] goors commented on #69
You can event put in strings like "asdasdasdas" and blur is called after. THat suck. It should be prevented default!

[2018-05-12 15:40] mgasparel commented on #65
If you set your value in the `mounted()` event, this works as expected

[code]

[2018-05-22 14:11] Davidriquelme opened #70 "leave currency symbol aftervalue"
Can't manage tu leave the currency symbol after de value,

example:
I have this: "% 4", but i need this "4 %"

Is there any workaround ?

[2018-05-23 07:48] fergardi commented on #53
This will be absolutely necessary for me as well, +1.

[2018-05-23 14:07] zezic commented on #53
Same here. May be merge in this fork: https://github.com/nettix-oy/vue-numeric/tree/nettix-null-empty-value ?

[2018-05-25 17:56] felipedgarcia commented on #53
@zezic This fork that you mentioned has what I need but just for integers. For decimals it isn't working yet. :cry: It's also necessary for me.

[2018-05-27 00:33] vizcay commented on #53
I'm on the same boat, I need a numeric input with the particularity that 0 should be displayed as emtpy.. I would be able to do that if I can set the input's value to null, but there is no way do it as I can see.

[2018-05-27 03:11] vizcay opened #72 "Is v-model.lazy respected?"
When I bind an input with v-model.lazy the data on my vue developer tools doesn't gets updated until it loses focus, working as intended.

With v-numeric, after every input it gets syncronized.. is this right?

[2018-05-29 14:29] vizcay commented on #72
Okey so after some research I've found that `v-model.lazy` is not intended to work on components (https://github.com/vuejs/vue/issues/5743). I was trying to get a binding on the `change` event of the input, using `.native` is the way to do it: https://vuejs.org/v2/guide/components-custom-events.html#Binding-Native-Events-to-Components .

[2018-05-29 14:29] #72 closed

[2018-06-28 14:24] #70 closed, assigned to nobody

[2018-07-02 04:13] dylansmithing opened #74 "Input class prop"
Ability to add a class or other options to the input? ie. form-control for bootstrap

[2018-07-04 16:11] WulfP commented on #64
Here ist my (short-term) solution:

add

   `value = parseFloat(value.replace ? value.replace(",",".") : value)`

as first line to

    methods.unformat() #363

Numeric values from input-fields can now contain comma as decimal-separator and are converted properly if stored as strings

[2018-07-25 23:30] lelukas commented on #56
`<vue-numeric :name="`max-cache-${index}`"
                                 :id="`max-cache-${index}`"
                                 v-model="freelancer.maxCache"
                                 v-validate="{required: true, min_value: 1}"
                                 currency="R$"
                                 separator="."
                                 type="text"></vue-numeric>`

t

[2018-07-25 23:31] lelukas commented on #56
![webstorm64_2018-07-25_20-29-42](https://user-images.githubusercontent.com/14317935/43232927-ba437898-9049-11e8-939e-e4fbf8626795.png)

this code worked with me

[2018-08-17 11:14] Aterr commented on #53
still waiting for it also.

[2018-08-25 15:39] egeersoz commented on #53
Same here. Any updates?

[2018-09-25 11:57] csms0726 commented on #66
Same for me. Any idea guys?

[2018-10-08 08:01] vincebanzon opened #78 "precision has incremental value on 8th decimal place"
This issue occurs when we change the precision to 8 or above.
Issue #1:
When I change the precision to greater than or equal to 8, I get an incorrect input.
Expected behavior is: 0.00000000000
but it becomes:          0.00000001000

Issue #2:
And value increments when changed even if it shouldn't.
So if I change the value from 0.000000000001 to 0.000000000002, I get the value of 0.000000020002.
Do

[2018-10-15 17:41] Christhofernatalius commented on #74
This is how I do this. Just add the class like any other HTML tags.

`<vue-numeric class="form-control"/>`

[2018-11-29 07:57] vincebanzon commented on #59
I agree to this and is having the same issue.
If I have precision: 4
I would want user to input value of "1" and only show "1", it should not show "1.0000"

[2018-11-29 08:03] vincebanzon opened #80 "Does not accept negative values"
I would like to be able to input "-1".
But it resolves back to "0" after leaving the component.
Even if I add the property "min='-100'", I would still get "0" after leaving.
I expect it to accept "-1" input.

Here's a sample code.
<vue-numeric :min="-100" v-model="mynumber"></vue-numeric>

[2018-12-13 14:49] kamilzzz commented on #69
@goors You can use @keypress.native="onKeyPress" to prevent inputting incorrect values.

[2019-01-04 23:46] WulfP commented on #54
I'd like to propose the following patch:

add
[code]
here
[code]

[2019-01-07 13:00] WulfP opened #81 "Key "Delete" doesn´t set field to empty-value"
Instead on Tab-out the original value ist restored.

suggested solution:

[code]

The condition for empty strings has to be evaluated before value ist changed.
Otherwise an `empty-value` of 0 is evaluated to false.

[2019-01-30 11:42] geri777 commented on #80
There is a property to enable negative values:

`<vue-numeric  :minus="true" ...>`

[2019-02-20 18:41] ablishek opened #82 "Input looses focus"
I just downloaded your component but am getting an issue where the input looses focus on each keypress. So if the user wants to write 100,000 => he/she must type 1, set focus, 0, set focus, 0, set focus, etc. It can be very tiresome. Is there a work around for this?!?

Following is my code:
`                            <vue-numeric separator="," v-model.native="data.item.value"></vue-numeric>
`

[2019-02-20 18:43] abhi-cognitivo commented on #82
Fyi I also tried :value but that solves the focus problem, but does not update the value back to the model. And on lost focus changes the number back to the original value.

[2019-02-22 13:35] musman92 commented on #53
any update?

[2019-02-25 08:05] rathesDot commented on #53
Since there doesn't seem to be any feedback, maybe it is time to create a fork and fix it? In my case, I'm not working on that project anymore, so there is no need for me there.

[2019-03-08 12:53] EndevelCZ commented on #40
I believe that correct  syntax is <vue-numeric separator="'space'"></vue-numeric>

(Single quotes around the value)

[2019-03-29 03:27] vincebanzon commented on #80
I am done with the project, but thank you for letting me know. I might use this next time. @geri777
I have not tried it yet, but I'll keep this in mind.

[2019-03-29 03:27] #80 closed

[2019-03-29 09:09] koblents commented on #55
Faced to the same problem. It is really annoying - can it be fixed somehow?

[2019-03-29 11:22] BlitZz96 commented on #55
I suppose this is not a hard issue to fix. I could have probably patched together a PR to fix this even tho I have moved away from this. However, I think it would be a waste of time. This repo seems dead/unmaintained

[2019-05-14 02:29] #74 closed

[2019-05-14 02:34] kevinongko commented on #82
Hi @abhi-cognitivo,
Tried inputting value on [demo page](https://kevinongko.github.io/vue-numeric/), I didn't found the input lost focus on each keypress?

[2019-05-14 02:38] kevinongko commented on #81
Hi @WulfP,
I have no idea what you mean by "Instead on Tab-out the original value ist restored"
Can you make a better explanation?

[2019-05-14 02:46] kevinongko commented on #78
Hi @vincebanzon,
Seems like this is a bug with accounting-js lib, the same [issue](https://github.com/openexchangerates/accounting.js/issues/192) can be found here

[2019-05-14 02:46] #78 closed

[2019-05-14 02:50] kevinongko commented on #60
Sorry, Didn't support bower for now

[2019-05-14 02:50] #60 closed

[2019-05-14 02:51] #56 closed

[2019-05-14 02:53] kevinongko commented on #66
Seems like this is a bug with accounting-js lib, the same [issue](https://github.com/openexchangerates/accounting.js/issues/192) can be found here

[2019-05-14 02:53] #66 closed

[2019-05-25 15:52] carlos00027 opened #83 "don't work library v-validate"
<vue-numeric  class="w-100"  currency="$"  separator="."    v-validate="validacion.valor"   vodel="form.valor"  name="valor"   :minus="false"     placeholder="Valor"    />

<label for="" class="color-info2  f-10 ml-3">Valor</label>

don't  see display errors, please, help me <3  :)

[2019-05-25 15:55] #83 closed

[2019-05-25 15:55] carlos00027 commented on #83
solucionado

[2019-06-09 16:29] arselm commented on #82
I downloaded the component today, I am getting the same behaviour described above. Is there a fix or workaround for this issue?

[2019-06-16 23:44] nixil commented on #65
@mgasparel this doesn't work unless the value of v-model is actually changed.   I think this is still a bug even though I can give a workaround like this.
[code]

[2019-09-05 03:35] HombreGeek opened #84 "about using keyup modifiers"
I want to kwon if this code works:

[code]

[2019-09-10 11:16] rathesDot commented on #53
Since there does not seem to be any progress on it, I am gonna close this issue. Feel free to re-open it if someone is gonna pick this up and need more input.

[2019-09-10 11:16] #53 closed

[2019-09-16 02:10] Shu-Ji opened #85 "Export the function/method from vue-numeric?"
Will the plugin export some functions/methods that will be used something like this:

[code]

Since we would like to use this not only as a vue componet, but also a function to other pure javascript libs.

[2019-09-20 01:44] mtskf commented on #65
Same here - very problematic...
https://codesandbox.io/s/2qhsf

[2019-09-20 01:49] mtskf commented on #39
This sounds very odd - "it will prioritise the placeholder even if there's a value."
HTML <input> placeholder attribute doesn't work like this way.
Is there any particular reason why you do this?

[2019-10-14 21:27] TheJester12 opened #86 "v-on:change doesn't work"
## Expected Behavior
Adding v-on:change doesn't fire function

## Actual Behavior
v-on:change does nothing

## Steps to Reproduce the Problem

  1. Add v-on:change="functionName" to <vue-numeric>, v-on:blur works...

## Specifications

  - Plugin Version: 2.3.0
  - Vue.js Version: 2.5.17
  - Browser: Chrome
  - OS: Mac 10.14.6

[2019-10-31 10:13] vanthuanqs opened #87 "[Feature Request] Please support input class"
It's good in case we use bootstraps, we can add bootstrap class to the component

example
[code]

[2019-10-31 10:16] vanthuanqs commented on #87
I find out how to make it work, just add the class to component.

[code]

Thank you for awesome plugin!

[2019-10-31 10:16] #87 closed

[2019-11-26 15:34] Jaspur opened #88 "Remove 0 as default: how?"
@kevinongko

Hi, how can I remove the default 0 as a value when no value is present or the value is null.

[2020-01-02 17:35] tryforceful commented on #88
This might be the same issue as in https://github.com/kevinongko/vue-numeric/issues/57

[2020-01-02 17:37] Jaspur commented on #88
No it’s not @tryforceful

[2020-02-07 12:54] whande1992 opened #89 "When applying "readOnly" to <span> or <input>"
When applying "readOnly", the entry is transformed into <span>, I would like to have the readOnly option in <Input> as well.

[2020-02-24 12:03] ArthurShlain opened #91 "Decimal comma separator wrong value"
In Russia we use two keyboard layouts.
One with dot key in numpad (EN), second with comma (Local number format)

With `decimal-separator=","` i get wrong result for me:

Type `9.99`, expected `"9,99"` to be displayed and `9.99` as value.

But i get `999,00` displayed and `999` value

https://codepen.io/ArtZ91/pen/ZEGLWry

[2020-02-24 12:13] ArthurShlain commented on #91
Related to https://github.com/kevinongko/vue-numeric/issues/64

[2020-02-26 20:26] skironDotNet commented on #53
definitely needed null = empty

[2020-03-03 21:41] shivanaru commented on #42
Is this fixed? I am still seeing it on v2.6.10

[2020-04-08 17:01] carmeloNET commented on #91
i have a problem might be  similar, when i am  Typing **0.28540193**, expected "**0.2854019**3" to be displayed **0.28540193** as value.

but i get in the value **0.28540194** and in the input **0.28540195**

[2020-04-16 04:21] whit0489 opened #92 "Does not select all when given focus"
## Expected Behavior
When tabbed or mouse clicked into. All of the text is selected

## Actual Behavior
None of the text is selected

## Steps to Reproduce the Problem

  1. Can be seen directly on your demo: https://kevinongko.github.io/vue-numeric/

## Specifications
N/A given it can be seen on the demo on chrome

  - Plugin Version:
  - Vue.js Version:
  - Browser:
  - OS:

[2020-05-08 14:12] scramatte commented on #64
Same issue here

Please fix it into the component package
 Might be interesting to let set array of allowed chars for thousand and decimals separator.

[2020-05-21 18:10] subtronic commented on #86
https://github.com/kevinongko/vue-numeric/pull/93

[2020-06-17 20:33] sorcerdon commented on #65
The issue can be fixed by modifying the source code.
The mounted() method is incorrect.
The fix:

Before:
`mounted() {
            // Set default value props when placeholder undefined.
            if (!this.placeholder) {
                this.process(this.valueNumber)
                this.amount = this.format(this.valueNumber)

                // In case of delayed props value.
                se

[2020-06-19 13:23] mykhailotarabtsov commented on #92
@whit0489 Hello.
I've faced the same problem (if it a problem).
So I fixed it in a next way:
Please point out for @mousedown.native and @focus events.
**How I use vue-numeric component:**
`<vue-numeric
          v-keypress-number-handle:[inputType]
          :value="value ? value : 0"
          :disabled="disable"
          :readonly="isReadonly"
          :currency="currency"
          :precision

[2020-07-29 07:21] kalibano opened #96 "Trying to use vue-numeric input for all currency related fields of my form"
## Expected Behavior
when I use `<vue-numeric>` multiple times in a form each should  reactively show its own result
` <vue-numeric
                  separator=","
                  v-bind:max="99999999999999"
                  class="gui-input"
                  v-bind:empty-value="0"
                  v-bind:min="0"
                  v-bind:precision="4"
                  v-model="budget.audit_c

[2020-09-18 13:48] maartenpaauw commented on #86
It's possible to use `v-on:change.native="functionName"`.

[2021-01-15 07:14] faebeee opened #97 "Is this project still active?"
Is this project still actively maintained?
Issues and PRs do not seem to be reviewed/merged

[2021-02-22 19:00] lucasgehl3n commented on #66
**Hello,**
If anyone is still experiencing this problem, I believe I have managed to resolve it.

The toFixed function (of the component) uses a technique of adding a theoretically insignificant value to the end of the number (1e-8). This is done so that rounding numbers like 2.22385, for example, are done to 2.2239, and not to 2.2238, avoiding problems with financial systems. However, the added v

[2021-02-22 19:12] lucasgehl3n commented on #66
Hello,
If anyone still has the problem, I updated the thread mentioned above with the solution.

[2021-03-19 11:23] kevinongko commented on #88
this behavior is removed in https://github.com/kevinongko/vue-numeric/releases/tag/v2.4.1

[2021-03-19 11:23] #88 closed

[2021-03-19 11:24] kevinongko commented on #86
should work now, https://github.com/kevinongko/vue-numeric/releases/tag/v2.4.1

[2021-03-19 11:24] #86 closed

[2021-03-19 11:25] kevinongko commented on #65
should be fixed now
https://github.com/kevinongko/vue-numeric/releases/tag/v2.4.1

[2021-03-19 11:25] #65 closed

[2021-03-19 11:28] #81 closed

[2021-03-19 11:30] kevinongko commented on #96
I do not quite understand, can you please make a demo with codesandbox? thank you

[2021-03-19 11:31] kevinongko commented on #84
You can try to use `@keyup.native.enter`

[2021-03-19 11:31] #84 closed

[2021-03-19 11:33] kevinongko commented on #97
I can only update this project in my free time, I can't promise this project will be updated forever tho
feel free to fork it and make adjustment if needed

[2021-03-19 11:33] #97 closed

[2021-03-19 11:39] kevinongko commented on #89
you can use the disabled option in 2.4.1

[2021-03-19 11:39] #89 closed

[2021-03-19 11:40] kevinongko commented on #85
Currently I have no plan to update this feature, feel free to raise a PR

[2021-03-19 11:40] #85 closed

[2021-03-19 11:42] kevinongko commented on #91
duplicate #64

[2021-03-19 11:42] #91 closed

[2021-03-19 11:44] kevinongko commented on #50
Currently I have no time to rewrite this, will close this for now

[2021-03-19 11:44] #50 closed

[2021-04-14 08:06] adiletmaks opened #102 "How to accept changes when typing, and not when defocusing?"

[2021-04-14 08:18] kevinongko commented on #102
This library is not intended for that kind of behavior, personally I think it's not a good user experience

[2021-04-14 08:18] #102 closed

[2021-04-14 08:49] adiletmaks commented on #102
Thanks for the quick response.

[2021-04-27 06:08] Flavsditz opened #103 "Initial Value Empty if initial value is ZERO"
## Expected Behavior
My initial value is Zero. So I expect to see the value Zero formatted the way I configured it. I expect to see the field like this when **I first open the page**:
![image](https://user-images.githubusercontent.com/1968234/116192356-06d6b280-a72e-11eb-8c3a-6f2fa167aa9d.png)

## Actual Behavior
When I first load the page all the values **that are initially zero** are rendered as

[2021-04-27 06:21] Flavsditz commented on #103
Just to give more context:
- I am using Typescript
- I am using [vue-class-component](https://class-component.vuejs.org/)

This code shows an initial value (set to 10)
[code]

This code **DOES NOT** show an initial value (set to 0)
[code]

[2021-04-27 06:25] Flavsditz commented on #96
I think this may be related to my problem #103 .
What  @kalibano  is probably experiencing is that when they click on the second field, the first one gets updated (due to the blur).

@kalibano does this happens with every value or just zero?

[2021-04-27 20:19] eboye commented on #103
I encountered the same problem. Any solution to this?

[2021-04-29 02:40] eboye commented on #103
I've "fixed" it by setting the value to 0.000000001, but am really hoping that this is going to be fixed.

[2021-04-29 05:41] kalibano commented on #96
yes with every values

[2021-04-29 06:01] Flavsditz commented on #103
That would not be a good solution for me since I am dealing with big numbers and this would cause differences in values :/

[2021-04-29 11:55] eboye commented on #103
I'm also experiencing this, but as steps for me are 0.01 I do check if the values is < 0.001 then I set it to 0. It's a nasty hack, but works for me.

[2021-05-02 12:34] Flavsditz commented on #103
Ok I took a couple of minutes today and checked the reason why this happens.

It has to do with the fact that in javascript the value `0`  is considered false. ( A bit more info here: https://www.geeksforgeeks.org/why-0-is-equal-to-false-in-javascript/)
It has to do that the **numeric** representation of `true` and `false` is `1` and `0` respectively.

So the line 278 where the mounted function ch

[2021-05-02 12:48] Flavsditz commented on #103
If the PR gets merged I will close this discussion

[2021-05-04 06:03] Flavsditz commented on #103
@eboye I had to add another conditional: `this.valueNumber === 0 && this.value !== ''` or else it would fail another case where we wanted the default value to be empty.

If you need more info just check the PR or ask me

[2021-05-04 14:24] genughaben commented on #103
Good day,
I totally need that, too.
Would really be a great help, if that could be merged!
Thank you so much for all your effort!
Have a great day!

[2021-05-04 21:12] chrisgrim opened #105 "Symbols after number"
Hi,
I love this plugin! It has solved so many of my number input issues. The only thing I was hoping it would have is a way to add a symbol after the number (ie a % sign).
Is there any way to do this already that I just overlooked?

[2021-05-04 21:16] chrisgrim commented on #105
I just found the prop
[code]
so ignore!! Thanks

[2021-05-04 21:16] #105 closed

[2021-05-09 00:45] kevinongko commented on #103
Added the fix in 2.4.2, thanks for the input guys, sorry for the slow response
https://github.com/kevinongko/vue-numeric/releases/tag/v2.4.2

[2021-05-09 00:45] #103 closed

[2021-05-09 00:49] kevinongko commented on #96
#103 is fixed in 2.4.2
please provide a demo if it's still happening

[2021-05-09 00:50] #69 closed

[2021-05-09 13:28] eboye commented on #103
Great, thanks!

[2021-05-26 16:46] KadirFiratFTW commented on #96
it happens when you give a zero value for v-model. When you refresh page it seems empty field until you click on it. Tested on latest version.

[2021-06-07 16:32] amchconsult commented on #103
If I use unpkg or jsdelivr is not applying v2.4.2 with the fix.
Do you know why?
thank you

[2021-06-10 13:50] amchconsult opened #108 "unpkg or jsdelivr not version 2.4.2"
If I use unpkg or jsdelivr is not applying v2.4.2 with the fix.
Do you know why? Can you please compile?
thank you

[2021-06-11 01:13] kevinongko commented on #108
anything wrong with this link?
https://unpkg.com/vue-numeric@2.4.2/dist/vue-numeric.min.js
https://cdn.jsdelivr.net/npm/vue-numeric@2.4.2

[2021-06-11 01:30] kevinongko commented on #108
I just rebuild and republish 2.4.3, please try again
https://unpkg.com/vue-numeric@2.4.3/dist/vue-numeric.min.js
https://cdn.jsdelivr.net/npm/vue-numeric@2.4.3

[2021-06-11 01:30] #108 closed

[2021-06-11 01:35] kevinongko commented on #96
@KadirFiratFTW Can you try this again with 2.4.3? seems like I forgot to rebuild when publishing 2.4.2
tried in my machine and it showing zero value when page refreshed

[2021-06-11 01:40] kevinongko commented on #82
@arselm can you provide screen recording when the input lost focus? I can input value on demo page without losing focus

[2021-06-11 12:54] amchconsult commented on #108
it works perfect now.
before it was not showing zero.
thank you very much

[2021-06-13 10:50] ashkantaravati opened #109 "Support for Vue 3 and Typescript"
Hi,
I'm working on a project that uses Vue 3 and Typescript. I was wondering if you could include a type declaration module (.d.ts file) in the package. I'd be glad to help but I'm kinda a novice in this.

[code]

[2021-06-13 10:53] peter-tornqvist-kan opened #110 "[Vue warn]: Method "placeholder" has already been defined as a prop."
## Expected Behavior
No warning for placeholder prop

## Actual Behavior
Following warnings are displayed in console:
[code]

This happens regardless if I have a placeholder or not on the component
## Steps to Reproduce the Problem

  1. Follow the example on https://github.com/kevinongko/vue-numeric for "Install via CDN"
  2. Put a `<vue-numeric>` on a page and connect v-model
  3. Watch the Cons

[2021-06-13 12:16] peter-tornqvist-kan commented on #110
Never mind, this was caused by another script in the solution

[2021-06-13 12:16] #110 closed

[2021-07-19 14:39] o-marchi opened #112 "Random decimal values being added on the input"
## Expected Behavior

When the user inputs a value, the correct value should appear on the input, no matter the number of decimal digits.

## Actual Behavior

If the decimal digits are set to a big number (in this case `15`), some random decimal values are automatically added.
This behavior can be reproduced on the official plugin live demo:

![image](https://user-images.githubusercontent.com/1914

[2021-07-20 10:56] shkipan opened #113 "Keep currency symbol on input field focus"
I'm currently using this component and I'm having an issue. When input field is selected, the currency symbol dissapeares.
Is there any option specified to keep the currency symbol?

[2021-11-05 14:01] robinrossow opened #117 "Allow 0 as Input"
Hey, thanks for the nice library.

I can't seem to figure out how to actually have 0 as the v-model value when I'm initially loading my form.
The input is just an empty string but it will display the 0 value correctly once I've blurred it.

This behavior messes with my validation since it won't allow an empty string but will allow a 0.

Is there any way to correctly display the 0 when loading the

[2021-11-28 20:06] flvportafolio commented on #109
Hi @kevinongko,
I've been working lately on a vue-numeric implementation for Vue 3, based on version 2.4.3
https://github.com/flvportafolio/vue3-numeric
This is a transitional version that maintains the documentation that you have been working on.

[2021-12-08 01:44] kevinongko commented on #117
Hi @robinrossow ,

This is very possible, you can try changing this value in the docs to zero and re-open the html, the value will be zero by default
![image](https://user-images.githubusercontent.com/15880638/145133485-1ae831cc-4d7d-4f18-a727-f4ae100c858b.png)
Sorry for the late reply 😄

[2021-12-20 10:04] vandelpavel commented on #109
Just created a small module declaration. Surely not the best...
[code]

[2021-12-29 13:17] amchconsult commented on #109
Hi Kevin,
Are you going to do a Vue3 version?
I have test the one mentioned but it is not working.

thank you

[2022-03-07 14:41] blackflash opened #123 "Precision higher than 7 not working"
## Expected Behavior
Precision higher than 7 will show proper value

## Actual Behavior
if precision 7 or higher is applied it stop working properly and its adding weird numbers.

## Steps to Reproduce the Problem

  1. change precision in attributes of vue-numeric component ( for example in input original value is 0 with 10 decimals precision, but it renders as 0,0000000200)

## Specifications

[2022-03-10 10:40] blackflash commented on #112
@o-marchi  have you been able to solve this somehow?

[2022-03-17 13:04] mboboc commented on #57
I have the same problem and I observed that in the documentation it says `empty-string`'s type is `Number`. If `output-type` can be set to `String`, shouldn't `empty-string` also allow strings? At the moment it ignores `empty-string=""`. :confused:

![Screenshot from 2022-03-17 14-54-25](https://user-images.githubusercontent.com/41815939/158813021-0b5755cc-56e9-4139-aed3-780e05dee75c.png)

[2022-05-24 03:20] kevinongko commented on #117
Should be fixed in 2.5.0
please try again

[2022-05-24 03:20] #117 closed

[2022-05-24 03:20] kevinongko commented on #57
Should be fixed in 2.5.0
please try again

[2022-05-24 03:20] #57 closed

[2022-05-24 03:24] kevinongko commented on #113
that's how this plugin works, when user inputting data, the value shown is number not string,because implement live formatting will cause issue when inputting decimal

[2022-05-24 03:24] #113 closed

[2022-05-24 03:25] #96 closed

[2022-05-24 03:25] #82 closed

[2022-05-24 03:26] #92 closed

[2022-05-24 03:28] kevinongko commented on #123
CMIIW, I think this is problem with account-js library https://github.com/openexchangerates/accounting.js

[2022-05-24 03:29] kevinongko commented on #123
duplicate of #112

[2022-05-24 03:29] #123 closed

[2022-05-24 11:50] Taifunov opened #128 "Issue when typing digits with comma it's reseted to 0.00"
Can you add the ability to somehow restrict numeric input to only '.' or ',"?
Because when I set the delimiter as '.' and try to enter 2,55 it resets to 0.00 (I think it's a bug) or we should be able to use both cases or limit this delimiter with some prop

## Expected Behavior
2,55 or restrict to use ',' demiliter

## Actual Behavior
2,55 resets to 0.00

## Steps to Reproduce the Problem

  1.Wri

[2022-08-16 14:51] Karytonn opened #129 "Prevent string insert"
How to limit input to receive only numbers?